.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    -webkit-user-select: none; /* Для WebKit (Chrome, Safari) */
    -moz-user-select: none; /* Для Firefox */
    -ms-user-select: none; /* Для Internet Explorer/Edge */
    user-select: none; /* Стандартное свойство */
}
d